mDNS issues

Repeated CONEECT with MDNS hostname makes connection impossible.

mosquitto_pub repeats Connect and Disconnect every time.
Eventually you will not be able to connect.
This script does not work stably.
```
#!/bin/bash
#set -x
count=1
fail=0
while :
do
        payload="text${count}"
        echo -n "payload="
        echo -n ${payload}
        echo -n " fail="
        echo ${fail}
        mosquitto_pub -h esp32-broker.local -p 1883 -t "/topic/test" -m ${payload}
        if [ $? -ne 0 ]; then
                fail=$((++fail))
        fi
        count=$((++count))
        sleep 1
done
```


I don't know why.
__If you find a solution, please let me know.__

Mosquitto_sub using mDNS works stably.

    mosquitto_sub -d -h esp32-broker.local -p 1883  -t "#"

Here is the solution.

https://github.com/espressif/esp-idf/issues/6190

I can confirm:
With `#define MDNS_STRICT_MODE 1` inside esp-idf/components/mdns/private_include/mdns_private.h it works for long (tested for >3000 loops), with strict mode disabled, it reproducibly stops working after around 120 loops of above script.
`idf.py --version` gives
`ESP-IDF v4.3-dev-2586-g526f68239-dirty`


[Here](https://docs.espressif.com/projects/esp-idf/en/v4.2.3/esp32s2/api-reference/kconfig.html#config-mdns-strict-mode) is a description about CONFIG_MDNS_STRICT_MODE.

```
Configures strict mode. 
Set this to 1 for the mDNS library to strictly follow the RFC6762: 
Currently the only strict feature: 
Do not repeat original questions in response packets (defined in RFC6762 sec. 6). 
Default configuration is 0, i.e. non-strict mode, since some implementations, such as lwIP mdns resolver (used by standard POSIX API like getaddrinfo, gethostbyname) could not correctly resolve advertised names.
```


If you set CONFIG_MDNS_STRICT_MODE = y in sdkconfig.default, the firmware will be built with MDNS_STRICT_MODE = 1.

```
$ idf.py --version
ESP-IDF v4.4-dev-1183-g9d34a1cd4
```

If STRICT MODE is specified in ESP-IDF V4.4.1, mDNS name resolution will not be possible after long operation.


Therefore, STRICT MODE was abolished.


```
#
# mDNS
#
#CONFIG_MDNS_STRICT_MODE=y
```

- esp-idf V4.3 or earlier   
 You will need to manually change the mDNS strict mode according to [this](https://github.com/espressif/esp-idf/issues/6190) instruction.   
- esp-idf V4.4  
 If you set CONFIG_MDNS_STRICT_MODE = y in sdkconfig.defaults, the firmware will be built with MDNS_STRICT_MODE.   
 __If MDNS_STRICT_MODE is not set, mDNS name resolution will not be possible after long-term operation.__   
- esp-idf V4.4.1   
 mDNS component has been updated.   
 If you set CONFIG_MDNS_STRICT_MODE = y in sdkconfig.defaults, the firmware will be built with MDNS_STRICT_MODE.   
 __Even if MDNS_STRICT_MODE is set, mDNS name resolution will not be possible after long-term operation.__   
- esp-idf V5.0 or later   
 mDNS component has been updated.   
 Long-term operation is possible without setting MDNS_STRICT_MODE.   
 The following lines in sdkconfig.defaults should be removed before menuconfig.   
 ```CONFIG_MDNS_STRICT_MODE=y```

---
 With ESP-IDF V5.0, This script work stably.
```
#!/bin/bash
#set -x
count=1
fail=0
while :
do
        payload="text${count}"
        echo -n "payload="
        echo -n ${payload}
        echo -n " fail="
        echo ${fail}
        mosquitto_pub -h esp32-broker.local -p 1883 -t "/topic/test" -m ${payload}
        if [ $? -ne 0 ]; then
                fail=$((++fail))
        fi
        count=$((++count))
        sleep 1
done
```


CONFIG_MDNS_STRICT_MODE is removed in ESP-IDF V5.

This setting no longer works.

